# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives: 
* List of the Popular languages in Data Science
* List of the Popular libraries in Data Science
* List of Common Data Science tools
* Arithmetic expression in Jupyter Nootbook

## Some of the popular languages that Data Scientists use are:
### Ordered list: 
1. Python
2. R Language
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
### order list: 
1) Pandas
2) Numpy 
3) Matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Abhilash Takoor